<?xml version='1.0' encoding='utf-8'?>
<widget id="prstcsnpr.magicformula" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>神奇公式</name>
    <description>
        乔尔·格林布拉特(Joel Greenblatt)的神奇公式中国版
    </description>
    <author email="prstcsnpr@me.com" href="#">
        土丁
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
